[Desktop Entry]
Name=XianScan
Comment=Native Comic Translation Server for Chinese Manhua, Korean Manhwa & Japanese Manga
Exec=xianscan
Icon=xianscan
Terminal=false
Type=Application
Categories=Graphics;Translation;Utility;
Keywords=comic;manga;manhua;manhwa;ocr;translation;typesetting;
